 body,
 html {
     margin: 0px;
     padding: 0px;
     width: auto;
     height: auto;
     background-color: black;
 }
 
 .canvasImageContainer {
     width: 1000px;
     height: 800px;
     background-position: center center;
     background-repeat: no-repeat;
     background-size: contain;
 }
 
 .editorCanvasImageContainer {
     position: fixed;
     left: 0px;
     bottom: 0px;
     top: 0px;
     width: calc(100vw - 400px);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: contain;
 }
 
 #codeInput,
 #codeEditor {
     width: 100%;
     height: calc(100vh - 40px);
 }
 
 .canvas-container {
     position: fixed;
     left: 0px;
     bottom: 0px;
     top: 0px;
     width: calc(100vw - 400px);
     z-index: 200;
     background-color: #000;
     overflow: auto;
 }
 
 .editor-tools-container {
     position: fixed;
     right: 0px;
     bottom: 0px;
     top: 0px;
     width: 400px;
     z-index: 200;
     background-color: #333;
 }
 
 .tools-container {
     position: fixed;
     left: 0px;
     bottom: 0px;
     right: 0px;
     z-index: 200;
     background-color: #444;
 }